* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: #555555;
    color: #fff;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}